@import "tailwindcss";

* {
	scroll-behavior: smooth;
}

:root {
	--primary: #6b46c1;
	--secondary: #805ad5;
	--accent: #d6bcfa;
	--foreground: #1a202c;
	--background: #f7fafc;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #9f7aea;
		--secondary: #805ad5;
		--accent: #6b46c1;
		--foreground: #edf2f7;
		--background: #1a202c;
	}
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

h1,
h2,
h3 {
	@apply select-none;
}

h2 {
	@apply text-4xl text-center;
}

.heading {
	white-space: pre;
	cursor: pointer;
	display: inline-block;
	transition: transform 0.3s ease, color 0.3s ease;
}

.heading:hover {
	color: var(--primary);
	transform: translateY(-8px) rotate(5deg) scale(1.2);
}

input,
textarea {
	border-radius: 10px;
	font-size: 18px;
	border: 1px solid black;
}

input::placeholder,
textarea::placeholder {
	text-align: center;
}

.line {
	width: full;
	background-color: black;
}
